@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

html {
  font-family: "Lora", serif;
}

.navbar {
  background-color: #0f2e68;
  position: fixed;
  width: 100%;
  top: 0px;
 
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
}

.top {
  background-color: #7fbbff;
  color: rgb(72, 2, 119);
  margin-top: 55px;
  text-align: left;
  padding: 100px 0;
}

.top p, h1, button {
   margin-left: 40px;
}

.flexcontainer {
    background-color:#7fbbff;
    color:rgb(13, 120, 219);
    margin-top: 75px;
    text-align: left;
    padding: 100px ;
    
}

  .flexItem {
    padding: 10px;
    border: 5px dashed rgb(20, 16, 218);
  }
  @media (hover: hover)
  {.flexItem1:hover {
      background: rgb(239, 243, 6)
  }
}
@media (hover: hover)
  {.flexItem2:hover {
      background: blueviolet
  }
  }@media (hover: hover)
  {.flexItem3:hover {
      background: rgb(50, 170, 13)
  }
}
.flexItem{
    display: flex;
    flex-direction: row;
    
  }
  .flexItem1{
      flex: 1;
  }
  .flexItem2{
      flex: 1;
  }
  .flexItem3{
      flex: 1;
  }